& {
  position: fixed;
  top: 40px;
  right: 0;
  display: flex;
}

&.hidden .ink-l60 {
  display: none;
}

.ink-l60 {
  display: grid;
}

.toggle-stats {
  width: 25px;
  text-align: center;
  vertical-align: middle;
  display: table;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: rgba(211, 211, 211, 0.15);
  }
}

.hp-bar {
  position: relative;
  width: 410px;
  font-size: 22px;
  margin-bottom: 30px;

  .health {
    float: left;
    border: 1px solid #999;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }

  .health-remaining {
    float: left;
    background: #247f00;
    height: 20px;
  }

  .health-remaining-text {
    text-align: center;
    letter-spacing: .1em;
    margin-top: 10px;
  }

  .health-total-text {
    position: absolute;
    top: 25px;
    right: 3px;
    letter-spacing: .1em;
  }
  .health-total {
    float: left;
    height: 20px;
  }

  .red {
     background: #af0000;
  }

  .orange {
    background: #ea7900;
  }

  .yellow {
    background: #eacc00;
  }
}

.ink-table {
  td[colspan="4"] > span, td {
    display: block;
  }
}

.sidebar {
  overflow-y: scroll;
  height: 330px;
}
