.death {
  color: #FF706C;
}
.revive{
  color:#59B407;
}
.avenge{
  color:#4395AF;
}

.hero {
  background-color: #EEE;
  padding: 10px;
  border: 2px solid #FEFEFE;
  border-radius: 10px;
}
.praise {
  margin: 1.2%;
  padding: .3%;
  border: 1px solid #EEE;
  background: #fff;
  min-height: 100px;
}
.praise h4 {
  margin-bottom: 1em;
}

/*classes*/

.class-R {
  background-color: #FF364D;
  color: #222;
}
.class-K {
  background-color: #C79C6E;
  color: #222;
}
.class-H {
  background-color: #ABD473;
  color: #222;
}
.class-P {
  background-color: #FCD349;
  color: #222;
}
.class-B {
  background-color: #69CCF0;
  color: #222;
}
.class-DK {
  background-color: #666666;
  color: #eee;
}
.class-W {
  background-color: #9482C9;
  color: #222;
}
.class-DVK {
  background-color: #000000;
  color: #FFF;
}
 small {
  font-size: 10px;
}
